

.chat {
    width: 300px;
    border-radius: 10px;
    background-color: #d09761;
    height: 800px;
    overflow: hidden;

    &__messages {
        flex-grow: 2;
        height: auto;
        overflow-y: scroll;
    }

    &__input-container {
    }

    &__input{
        margin: 3px auto;
    }
}
