@using Skribbl_Website.Client.Components
<div class="chat d-flex flex-column">
    <div class="chat__messages d-flex flex-column">
        @foreach (var message in Messages)
        {
            <MessageComponent Message="message"></MessageComponent>
        }
    </div>
    <div class="chat__input-container d-flex flex-row">
        <div class="chat__input">
            <input @bind="_newMessageContent" type="text" />
            <button @onclick="SendMessage">Send!</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<Message> Messages { get; set; }

    [Parameter] public LobbyConnection LobbyConnection { get; set; }

    private string _newMessageContent;

    public async Task SendMessage()
    {
        await LobbyConnection.Send(_newMessageContent);
        _newMessageContent = string.Empty;
    }
}
