@inject IJSRuntime JSRuntime

<h3>Color: </h3>
<div class="toolbar__color-picker d-flex flex-row">
    @foreach (var color in AvailableColors)
    {
        <span class="color-choice" style="background:@color" @onclick="@(() => SetColor(color))"></span>
    }
</div>

@code {
    private List<string> AvailableColors = new List<string> { "white", "black", "blue", "red", "green", "yellow", "orange", "blueviolet", "saddlebrown", "lightgrey", "pink"};

    private async Task SetColor(string newColor)
    {
        await JSRuntime.InvokeVoidAsync("setColor", newColor);
    }
}
