<div class="invite" @onmouseenter="ChangeShowLinkState" @onmouseleave="ChangeShowLinkState" @onclick="CopyLinkToClipboard">
    @if (!_showLink)
    {
        <p class="m-0 hover-text">Hover&Click to copy link</p>
    }
    else
    {
        <p class="text-purple m-0">@InviteLink</p>
    }
</div>

@code {
    [Parameter] public string InviteLink { get; set; }
    bool _showLink = false;

    void ChangeShowLinkState()
    {
        _showLink = !_showLink;
    }

    void CopyLinkToClipboard()
    {
        Console.WriteLine("Copying not implemented");
    }
}
