.toolbar {
    &__line-width-picker {
    }
}

.line-width-picker {
    padding: 3px 3px;
    border: 1px dotted black;
    color: red;
    cursor: pointer;
    margin: auto 5px;
    min-width: 8px;
}
