@inject IJSRuntime JSRuntime
<h3>Width:</h3>
<div class="toolbar__line-width-picker d-flex d-row">
    @foreach (var lineWidth in AvailableLineWidths)
    {
        <span class="line-width-picker" @onclick="@(() => SetLineWidth(lineWidth))">@lineWidth</span>
    }
</div>

@code {
    private readonly List<int> AvailableLineWidths = new List<int> {1, 2, 3, 4, 5, 10, 50};

    private async Task SetLineWidth(float newLineWidth)
    {
        await JSRuntime.InvokeVoidAsync("setLineWidth", newLineWidth);
    }

}