@import "../Styles/utility.scss";

.message {
    width: 100%;
    min-height: 28px;
    padding: 3px 5px;
    border-bottom: solid 1px #313030;
    background-color: $message-base;

    &__content {
        width: auto;
        text-wrap: normal;
    }

    &--join, &--host {
        background: #DCEDC8;
    }

    &--closeGuess {
        background: #FFF9C4;
    }

    &--ban {
        background: #ef5350;
    }

    &--disconnect, &--leave {
        background-color: #F8BBD0;
    }

    &--join,&--host, &--ban {
        font-weight: 700;
    }

    &__sender {
        font-weight: 700;
        padding-right: 3px;
    }
}
