<div class="players-list">
    Players:
    @foreach (var player in Players)
    {
        <PlayerComponent Player="player" UserIsHost="@UserIsHost"></PlayerComponent>
    }
</div>

@code {

    [Parameter]
    public List<PlayerClient> Players { get; set; }

    [Parameter]
    public bool UserIsHost { get; set; }

}