<div class="players-list">
    <h6 class="players-list__title">Players</h6>
    @foreach (var player in Players)
    {
        <PlayerComponent Player="player" UserIsHost="@UserIsHost"></PlayerComponent>
    }
</div>

@code {

    [Parameter] public List<PlayerClient> Players { get; set; }

    [Parameter] public bool UserIsHost { get; set; }
}