@import "../Styles/utility.scss";

@import "PlayerComponent.razor.scss";

.players-list {
    @include lobby-segment;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &__title {
        font-size: 2.1rem;
        text-align: center;
        color: $highlight-color;
        font-weight: 600;
    }
}
