@import "../Styles/utility.scss";

.word-selection {
    cursor: pointer;
    border: 1px solid $base-color;
    border-radius: 10px;

    &:hover {
        background-color: $highlight-color;
    }
}
