@foreach (var letter in SelectionTemplate.Characters)
{
    <span class="letter">
        @letter
    </span>
}

@code {
    [Parameter] public SelectionTemplate SelectionTemplate { get; set; }
}