@inject LobbyConnection LobbyConnection
@if (LobbyConnection.UserIsDrawing)
{
    <h3 >Select word to draw:</h3>
    <div class="words-container mx-auto w-auto d-flex flex-row">
        @foreach (var word in Words)
        {
            <span @onclick="@(() => OnSelectionChoosed(word))" class="word-selection px-3 mx-2 py-2">
                @word
            </span>
        }
    </div>
}
else
{

    <h3>@LobbyConnection.Lobby.GetDrawingPlayer().Name is choosing!</h3>
}

@code {
    [Parameter] public List<string> Words { get; set; }

    private async Task OnSelectionChoosed(string selection)
    {
        await LobbyConnection.SelectSelection(selection);
    }
}
