.message {
    background-color: #808080;
    border: solid 1px #000000;
    min-height: 28px;
    padding: 2px 3px;
    width: 100%;
}

.message__content {
    text-wrap: normal;
    width: auto;
}

.message--join, .message--host { background-color: #5ca026; }

.message--host { font-weight: 700; }

.message__sender {
    font-weight: 700;
    padding-right: 3px;
}

.lobby__chat {
    background-color: #d09761;
    border: 2px solid #0b34d5;
    border-radius: 10px;
    margin: 3px;
    overflow: hidden;
    padding: 5px;
    width: 20%;
}

.chat__messages {
    flex-grow: 2;
    height: auto;
    overflow-y: scroll;
}

.chat__input { margin: 3px auto; }

.player {
    font-size: 1.3rem;
    justify-content: space-between;
    width: 100%;
}

.player--name { font-weight: 600; }

.player--ban { color: red; }

.player--drawing { color: #100e82; }

.player__guessed { background-color: #4cff00; }

.players-list {
    background-color: beige;
    border: 2px solid #0b34d5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 5px;
    width: 15%;
}

.color-choice {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 1.5rem;
    margin: 2px 4px;
    width: 1.5rem;
}

.color-choice:hover {
    height: 1.7rem;
    width: 1.7rem;
}

.line-width-picker {
    border: 1px dotted black;
    color: red;
    cursor: pointer;
    margin: auto 5px;
    min-width: 8px;
    padding: 3px 3px;
}

#myCanvas {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: none;
    user-select: none;
    z-index: 2;
}

#customCursor {
    -moz-box-shadow: 0px 0px 0px 1px white;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-shadow: 0px 0px 0px 1px white;
    -webkit-user-select: none;
    border: 1px dashed black;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px white;
    cursor: none;
    display: none;
    height: 5px;
    position: absolute;
    user-select: none;
    width: 5px;
    z-index: 5;
}

#board-area {
    background: white;
    padding-bottom: 66.66%;
    position: relative;
    width: 100%;
}

#board-area > * {
    left: 0;
    position: absolute;
    top: 0;
}

#canvasOverlay {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: none;
    height: 100%;
    user-select: none;
    width: 100%;
    z-index: 10;
}

.select-name-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: auto;
}

.select-name--header {
    margin-bottom: 3rem;
    text-align: center;
}

.name-input {
    border: 4px solid blue;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    height: 58px;
    margin-bottom: 1rem;
    padding: 10px 5px;
    text-align: center;
    width: 250px;
}

.submit-name-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1.5rem;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    /* Green */
    width: 100px;
}

.lobby__top-bar {
    border: 2px solid #0b34d5;
    border-radius: 10px;
    justify-content: space-between;
    margin: 3px;
    padding: 5px;
}

.lobby {
    height: 80vh;
    margin: auto;
    min-height: 500px;
    min-width: 600px;
    width: 95%;
}

.lobby__content {
    align-items: stretch;
    height: 100%;
}

.lobby__playing-area {
    align-items: center;
    border: 2px solid #0b34d5;
    border-radius: 10px;
    justify-content: center;
    margin: 3px;
    min-width: 65%;
    padding: 5px;
}

.leave-button {
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1.5rem;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
}

.start-button {
    background-color: #0b34d5;
    border: none;
    border-radius: 15px;
    color: white;
    color: #e5dcdc;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1.5rem;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
}

.word-selection {
    border: 1px solid #491974;
    border-radius: 10px;
    cursor: pointer;
}

.word-selection:hover { background-color: #cac601; }