@page "/"
@inject NavigationManager NavigationManager

<div>
    <h1 class="title">Blazor Skribble</h1>

    <div class="project-description"> Proof of Concept for and Draw&Guess game made with Blazor WebAssembly hosted with ASP.NET Core, SignalR Core for real-time communication and SASS for improved styling. Code for the project is accessible on my <a href="https://github.com/DominikNITA/SkribblBlazor" target="_blank">Github</a>.
    </div>

    <button class="create-lobby-button" @onclick="@(() => NavigationManager.NavigateTo("/name"))"> Create Lobby</button>
</div>