@page "/"

@inject NavigationManager NavigationManager

<h1 class="w-auto">Blazor Skribble</h1>

<div class="w-auto">
    POC for Draw&Guess game made with Blazor WASM hosted, SignalR Core and SASS.
</div>


<button class="submit-name-button" @onclick="@(() => NavigationManager.NavigateTo("/name"))"> Create Lobby</button>

