

.message {
    width: 100%;
    min-height: 28px;
    padding: 2px 3px;
    border: solid 1px #000000;
    background-color: #808080;

    &__content {
        width: auto;
        text-wrap: normal;
    }

    &--join, &--host {
        background-color: #5ca026;
    }

    &--host{
        font-weight: 700;
    }

    &__sender{
        font-weight: 700;
        padding-right: 3px;
    }
}
