$base-color: #491974;
$second-color: #0b34d5;
$highlight-color: #cac601;
$text-color: #34495e;

$background-color: rgb(211, 205, 221);
$component-background: rgb(245, 245, 245);
$main-color: #9b59b6;
$highlight-color: #e67e22;
$message-base: #FBE9E7;

@mixin lobby-segment {
    margin: 3px;
    border: 4px solid $main-color;
    background: $component-background;
    border-radius: 10px;
}

@mixin general-button {
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}


